flows.json
[{"id":"55349b2a.f7e5f4","type":"tab","label":"Rhafiq's Usage","disabled":false,"info":""},{"id":"a7bb1b96.71bf28","type":"mqtt out","z":"55349b2a.f7e5f4","name":"","topic":"rhafiq/output","qos":"","retain":"","broker":"1bec304e.c5a61","x":690,"y":520,"wires":[]},{"id":"de7f9e5a.024f7","type":"mqtt in","z":"55349b2a.f7e5f4","name":"","topic":"rhafiq/temperature","qos":"2","datatype":"auto","broker":"1bec304e.c5a61","inputs":0,"x":464,"y":307,"wires":[["23356f8.edac79","3332b955.a85266","777f2485a06da5de"]]},{"id":"23356f8.edac79","type":"debug","z":"55349b2a.f7e5f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":260,"wires":[]},{"id":"de73e604.a00d28","type":"mqtt in","z":"55349b2a.f7e5f4","name":"","topic":"rhafiq/humidity","qos":"2","datatype":"auto","broker":"1bec304e.c5a61","nl":false,"rap":false,"inputs":0,"x":480,"y":180,"wires":[["f2d1745d.3083f8","65fffad7.b68854"]]},{"id":"f2d1745d.3083f8","type":"debug","z":"55349b2a.f7e5f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":120,"wires":[]},{"id":"fca0cda0.07f25","type":"ui_switch","z":"55349b2a.f7e5f4","name":"","label":"Output","tooltip":"","group":"61285987.c20328","order":1,"width":9,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"","x":490,"y":520,"wires":[["a7bb1b96.71bf28"]]},{"id":"3332b955.a85266","type":"ui_chart","z":"55349b2a.f7e5f4","name":"","group":"61285987.c20328","order":2,"width":12,"height":5,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":340,"wires":[[]]},{"id":"dcc30314.4014f","type":"mqtt in","z":"55349b2a.f7e5f4","name":"","topic":"rhafiq/FinalRMSCurrent","qos":"2","datatype":"auto-detect","broker":"1bec304e.c5a61","inputs":0,"x":480,"y":420,"wires":[["4f436742.161228","6ad121f3.3747c"]]},{"id":"4f436742.161228","type":"debug","z":"55349b2a.f7e5f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":667,"y":387,"wires":[]},{"id":"6ad121f3.3747c","type":"ui_chart","z":"55349b2a.f7e5f4","name":"","group":"61285987.c20328","order":4,"width":12,"height":4,"label":"Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":460,"wires":[[]]},{"id":"65fffad7.b68854","type":"ui_gauge","z":"55349b2a.f7e5f4","name":"","group":"61285987.c20328","order":3,"width":9,"height":8,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"0","seg2":"50","className":"","x":680,"y":220,"wires":[]},{"id":"647fc67c.5acde8","type":"debug","z":"55349b2a.f7e5f4","name":"","active":true,"console":"false","complete":"true","x":1230,"y":100,"wires":[]},{"id":"47a2173.d9ab0e8","type":"function","z":"55349b2a.f7e5f4","name":"mqtt to mysql","func":"var out = \"INSERT INTO Sensor_data (timestamp,topic,data)\"\nout = out + \"VALUES('\"+ newDate().toISOString()+'\",\"'+msg.payload+\"');\"\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":180,"wires":[["647fc67c.5acde8","dbb994b9.78eda8"]]},{"id":"8369a5c7.557be8","type":"debug","z":"55349b2a.f7e5f4","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":300,"wires":[]},{"id":"dbb994b9.78eda8","type":"mysql","z":"55349b2a.f7e5f4","mydb":"768e7a02.657f74","name":"","x":1120,"y":300,"wires":[["8369a5c7.557be8"]]},{"id":"b1440b16688953a7","type":"function","z":"55349b2a.f7e5f4","name":"mqtt to mysql","func":"\nmsg.topic= \"INSERT INTO Sensor_data (temperature)\"+ \"VALUES ('\"+ msg.payload + \"');\"\n    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":320,"wires":[["dbb994b9.78eda8"]]},{"id":"777f2485a06da5de","type":"json","z":"55349b2a.f7e5f4","name":"","property":"payload","action":"","pretty":false,"x":770,"y":300,"wires":[["b1440b16688953a7"]]},{"id":"1bec304e.c5a61","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61285987.c20328","type":"ui_group","name":"Rhafiq's usage","tab":"e7c46d5e.a1283","order":1,"disp":true,"width":21,"collapse":false,"className":""},{"id":"768e7a02.657f74","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"energydb","tz":"","charset":"UTF8"},{"id":"e7c46d5e.a1283","type":"ui_tab","name":"Rhafiq","icon":"dashboard","disabled":false,"hidden":false}]